.score {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.896rem;
  color: #5357b6;
}

.score-container {
  background-color: #f5f6fa;
  width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
