.replies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  padding-left: 4rem;
  border-left: 1px solid #e9ebf0;
}

.user-comment {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: white;
  border-radius: 15px;
  padding: 2.4rem;
}
