.comment-section {
  background-color: white;
  width: 50%;
  margin-top: 5rem;
  border-radius: 10px;
}

.amyrobson-container,
.maxblagun-container,
.replies-section > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.4rem;
}
