.comments-section {
  width: 50%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
